%fieldset
  .row
    .col-4.form-group
      = f.label :name, 'Award Name'
      = f.text_field :name, class: 'form-control'
    .col-2.form-group
      = f.label :awarded_date, 'Date Awarded'
      = f.date_field :awarded_date, class: 'form-control'
    .col-6.form-group
      = f.label :description, 'Description'
      = f.text_field :description, class: 'form-control'
  .row
    .col-4.form-group
      = f.hidden_field :_destroy
      = link_to 'remove', '#', class: 'remove_fields'
