- javascript_include_tag 'awards', 'data-turbolinks-track' => true
- javascript_include_tag 'questions', 'data-turbolinks-track' => true

%h2 #{@scholarship} Application

= form_with(model: @application, url: [@scholarship, @application], local: true) do |f|
  - if @application.errors.any?
    #error_explanation
      %h2= "#{pluralize(@application.errors.count, "error")} prohibited this application from being saved:"
      %ul
        - @application.errors.full_messages.each do |message|
          %li= message
  %h3.mt-4 Personal Information
  .row
    .col-5.form-group
      = f.label :name, 'Full name'
      = f.text_field :name, class: 'form-control'
    .col-4.form-group
      = f.label :dob, 'Date of birth'
      = f.date_field :dob, class: 'form-control'
    .col-3.form-group
      = f.label :ssn, 'Last 4 digits of SSN'
      = f.text_field :ssn, class: 'form-control'
  .row.mt-3
    .col-3.form-group
      = f.label :marital_status
      = f.select :marital_status, @options_for_marital_status, {include_blank: true}, {class: 'form-control'}
    .col-4.form-group
      = f.label :ages_of_children, 'Ages of dependent children'
      = f.text_field :ages_of_children, class: 'form-control'
    .col.form-group
      = f.label :student_id, 'Student ID (if applicable)'
      = f.text_field :student_id, class: 'form-control'
  .row.mt-3
    .col.form-group-8
      = f.label :address
      = f.text_area :address, size: '1x4', class: 'form-control'
    .col
      .form-group
        = f.label :phone_number
        = f.telephone_field :phone_number, class: 'form-control'
        = f.label :email, class: 'mt-1'
        = f.email_field :email, class: 'form-control'

  %h3.mt-4 Institution to be Attended
  .row
    .col-5.form-group
      = f.label :institution_name, 'Institution'
      = f.text_field :institution_name, class: 'form-control'
    .col-3.form-group
      = f.label :academic_year, 'Academic Year'
      = f.text_field :academic_year, class: 'form-control'
  .row
    .col-8.form-group
      = f.label :institution_address, "Address of Institution's Business Office"
      = f.text_field :institution_address, class: 'form-control'
  .row
    .col-4.form-group
      = f.label :major, 'Major/focus'
      = f.text_field :major, class: 'form-control'
    .col-4.form-group
      = f.label :completion_date, 'Projected Date of Completion'
      = f.date_select :completion_date, {discard_day: true, order: [:month, :year],start_year: Date.current.year, end_year: Date.today.year + 10}, {class: 'form-control'}
  .row
    .col-4.form-group
      = f.label :academic_standing, 'Standing at start of Term/Semester (Frosh, Soph, Jr, Sen, Other)'
      = f.text_field :academic_standing, class: 'form-control'
    .col-3.form-group
      = f.label :post_high_school_gpa, 'Cumulative Post-High School G.P.A.'
      = f.number_field :post_high_school_gpa, min: 0, max: 5, step: '0.01', class: 'form-control'
    .col-3.form-group
      = f.label :high_school_gpa, 'Cumulative High School G.P.A.'
      = f.number_field :high_school_gpa, min: 0, max: 5, step: '0.01', class: 'form-control'
  .row
    .col-4.form-group
      = f.label :career_plan, 'Educational Goals/Career Plans'
      = f.text_area :career_plan, size: '1x8', class: 'form-control'

  %h3.mt-4 Educational history
  %h4 Colleges / Institutions
  .row
    .col-5.form-group
      = f.label :previous_college1_name, 'College / Institution Name'
      = f.text_field :previous_college1_name, class: 'form-control'
    .col-3.form-group
      = f.label :previous_college1_years, 'Years'
      = f.text_field :previous_college1_years, class: 'form-control'
    .col-4.form-group
      = f.label :previous_college1_degree, 'Degree'
      = f.text_field :previous_college1_degree, class: 'form-control'
  .row
    .col-5.form-group
      = f.label :previous_college2_name, 'College / Institution Name'
      = f.text_field :previous_college2_name, class: 'form-control'
    .col-3.form-group
      = f.label :previous_college2_years, 'Years'
      = f.text_field :previous_college2_years, class: 'form-control'
    .col-4.form-group
      = f.label :previous_college2_degree, 'Degree'
      = f.text_field :previous_college2_degree, class: 'form-control'
  %h4 High School
  .row
    .col-5.form-group
      = f.label :high_school_name, 'High School Name'
      = f.text_field :high_school_name, class: 'form-control'
    .col-3.form-group
      = f.label :high_school_graduation_year, 'Year Graduated'
      = f.text_field :high_school_graduation_year, class: 'form-control'

  %h3.mt-4 Income and Expenses
  %h4 Monthly Income
  .row
    .col-5.form-group
      = f.label :total_monthly_income, 'Total Monthly Income'
      = f.number_field :total_monthly_income, class: 'form-control'
    .col-5.form-group
      = f.label :total_scholarship_monthly, 'Total Monthly from Scholarships/Grants'
      = f.number_field :total_scholarship_monthly, class: 'form-control'
  .row
    .col-5.form-group
      = f.fields_for :external_scholarships, @application.external_scholarships do |external_scholarship_form|
        = render 'external_scholarship_fields', f: external_scholarship_form
      = link_to_add_fields "Add Scholarship/Grant", f, :external_scholarships


  %h4 Educational Expenses per Term
  .row
    .col-3.form-group
      = f.label :tuition_cost, 'Tuition'
      = f.number_field :tuition_cost, class: 'form-control'
    .col-3.form-group
      = f.label :supplies, 'Books/Educational supplies'
      = f.number_field :supplies, class: 'form-control'
    .col-3.form-group
      = f.label :childcare, 'Childcare related to education'
      = f.number_field :childcare, class: 'form-control'
  .row
    .col-3.form-group
      = f.label :transportation, 'Transportation (gas, parking, bus fare)'
      = f.number_field :transportation, class: 'form-control'
    .col-3.form-group
      = f.label :other, 'Other'
      = f.number_field :other, class: 'form-control'
  %h4 Monthly Non-educational Expenses
  .row
    .col-4.form-group
      = f.label :monthly_expenses, 'Estimated Monthly Expenses (please consider total expenses including housing, food, utilities, medical, and car)'
      = f.number_field :monthly_expenses, class: 'form-control'
    .col-4.form-group
      = f.label :savings, 'Total in Savings Account'
      = f.number_field :savings, class: 'form-control'
    .col-4.form-group
      = f.label :investments, 'Total in Investments'
      = f.number_field :investments, class: 'form-control'
  .row.border
    .col-4.form-group
      = f.label :school_loan_debt, 'Current Educational Loan Debt'
      = f.number_field :school_loan_debt, class: 'form-control'
    .col-4.form-group
      = f.label :other_debt, 'Total Balance of Other Indebtedness'
      = f.number_field :other_debt, class: 'form-control'

  %h3.mt-4 School Activities
  - @application.experiences.each do |experience|
    - if experience.kind == 'school_activity'
      = f.fields_for :experience, experience do |experience_form|
        = render 'school_activity_fields', f: experience_form
  = link_to_add_experiences "Add School Activity", f, :experiences, :school_activity

  %h3.mt-4 Employment History
  - @application.experiences.each do |experience|
    - if experience.kind == 'employment'
      = f.fields_for :experience, experience do |experience_form|
        = render 'employment_fields', f: experience_form
  = link_to_add_experiences "Add Employment", f, :experiences, :employment

  %h3.mt-4 Volunteer History
  - @application.experiences.each do |experience|
    - if experience.kind  == 'volunteer_experience'
      = f.fields_for :experience, experience do |experience_form|
        = render 'volunteer_experience_fields', f: experience_form
  = link_to_add_experiences "Add Volunteer Experience", f, :experiences, :volunteer_experience

  %h3.mt-4 Awards and Honors
  = f.fields_for :awards, @application.awards do |award_form|
    = render 'award_fields', f: award_form
  = link_to_add_fields "Add Award", f, :awards


  %h3.mt-4 Essay Questions
  - if @scholarship.questions.empty?
    %p There are no essay questions to answer.
  - @application.answers.each do |answer|
    .row
      .col.form-group
        = f.fields_for :answers, answer do |answer_form|
          = answer_form.hidden_field :question_id, value: answer.question.id
          = answer_form.label :body, answer.question.prompt + ' (' + answer.question.word_limit.to_s + ' word limit)', for: answer.question.word_limit.to_s + '_word_question_field_' + answer.question.id.to_s
          = answer_form.text_area :body, id: answer.question.word_limit.to_s + '_word_question_field_' + answer.question.id.to_s, class: 'question_field form-control'
          = answer_form.label :body, answer.body.split.length.to_s + ' words', id: 'word_counter_' + answer.question.id.to_s, for: answer.question.word_limit.to_s + '_word_question_field_' + answer.question.id.to_s

  %h3.mt-4 Recommendation Letter
  .row
    .col.form-group
      %p Only the most recently added recommendation letter will be saved.
      - if @application.recommendation_letter.attached?
        %p.my-0 Current recommendation letter:
        %p= link_to @application.recommendation_letter.filename, rails_blob_path(@application.recommendation_letter, disposition: 'attachment')
        =f.label :recommendation_letter, 'Replace with new recommendation letter:'
      = f.file_field :recommendation_letter, class: 'form-control-file', accept: Application::ALLOWED_ATTACHMENT_MIME_TYPES.join(',')
      %small.form-text.text-muted PDF or Word files only, please.

  %h3.mt-4 Transcripts
  .row
    .col.form-group
      - if @application.transcripts.attached?
        %p.my-0 Current transcripts:
        - @application.transcripts.each do |transcript|
          %p
            = link_to transcript.filename, rails_blob_path(transcript, disposition: 'attachment')
            = link_to 'Remove', scholarship_application_transcript_url(scholarship: @application.scholarship, application_id: @application.id, transcript_id: transcript.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-outline-danger btn-sm'
        = f.label :transcripts, 'Add another transcript:'
      - else
        = f.label :transcripts, 'Please upload a high school transcript (if in the past ten years) and any post-high school transcripts.'
      = f.file_field :transcripts, multiple:true, class: 'form-control-file', accept: Application::ALLOWED_ATTACHMENT_MIME_TYPES.join(',')
      %small.form-text.text-muted PDF or Word files only, please.

  .actions.mt-4
    = f.submit('Save Application', {class: 'btn btn-success'})
    %small.form-text.text-muted You can save as frequently as you wish. Your application will not be seen until you submit it.
