.float-right
  - unless @application.submitted?
    = link_to 'Edit', edit_scholarship_application_path(@scholarship, @application), class: 'btn btn-outline-primary'
    = link_to 'Submit', submit_scholarship_application_path(@scholarship, @application), class: 'btn btn-outline-primary', method: :patch, data: {confirm: 'Are you sure you are ready to to submit this application? It can not be changed or deleted later'}
    = link_to 'Delete', scholarship_application_path(@scholarship), class: 'btn btn-outline-danger', method: :delete, data: {confirm: 'Are you sure you want to delete this application? This can not be undone' }

%h2= @application

%h3 Personal Information
%dl.row.mt-5
  %dt.col-sm-3 Full Name
  %dd.col-sm-9= @application.name
  %dt.col-sm-3 Date of Birth
  %dd.col-sm-9= @application.dob
  %dt.col-sm-3 Last four of SSN
  %dd.col-sm-9= @application.ssn
  %dt.col-sm-3 Marital Status
  %dd.col-sm-9= @application.marital_status
  %dt.col-sm-3 Ages of dependent children
  %dd.col-sm-9= @application.ages_of_children
  %dt.col-sm-3 Student ID
  %dd.col-sm-9= @application.student_id
  %dt.col-sm-3 Address
  %dd.col-sm-9= @application.address
  %dt.col-sm-3 Phone number
  %dd.col-sm-9= @application.phone_number
  %dt.col-sm-3 Email
  %dd.col-sm-9= @application.email

%h3 Institution to be Attended
%dl.row.mt-5
  %dt.col-sm-3 Institution
  %dd.col-sm-9= @application.institution_name
  %dt.col-sm-3 Academic Year
  %dd.col-sm-9= @application.academic_year
  %dt.col-sm-3 Address of Institution's Business Office
  %dd.col-sm-9= @application.institution_address
  %dt.col-sm-3 Major/focus
  %dd.col-sm-9= @application.major
  %dt.col-sm-3 Projected Date of Completion
  %dd.col-sm-9= @application.completion_date.strftime("%Y, %B")
  %dt.col-sm-3 Academic Standing
  %dd.col-sm-9= @application.academic_standing
  %dt.col-sm-3 Post High School GPA
  %dd.col-sm-9= @application.post_high_school_gpa
  %dt.col-sm-3 High School GPA
  %dd.col-sm-9= @application.high_school_gpa
  %dt.col-sm-3 Career Plan
  %dd.col-sm-9= @application.career_plan

%h3 Educational History
%dl.row.mt-5
  %dt.col-sm-3 Previous College/Institution
  %dd.col-sm-9
    %dl.row
      %dt.col-sm-3 Name
      %dd.col-sm-9= @application.previous_college1_name
      %dt.col-sm-3 Years
      %dd.col-sm-9= @application.previous_college1_years
      %dt.col-sm-3 Degree Earned
      %dd.col-sm-9= @application.previous_college1_degree
  %dt.col-sm-3 Previous College/Institution
  %dd.col-sm-9
    %dl.row
      %dt.col-sm-3 Name
      %dd.col-sm-9= @application.previous_college2_name
      %dt.col-sm-3 Years
      %dd.col-sm-9= @application.previous_college2_years
      %dt.col-sm-3 Degree Earned
      %dd.col-sm-9= @application.previous_college2_degree
  %dt.col-sm-3 High School
  %dd.col-sm-9
    %dl.row
      %dt.col-sm-3 Name
      %dd.col-sm-9= @application.high_school_name
      %dt.col-sm-3 Year Graduated
      %dd.col-sm-9= @application.high_school_graduation_year

%h3 Income
%dl.row.mt-5
  %dt.col-sm-3 Total Household Monthly Income
  %dd.col-sm-9= @application.total_monthly_income
  %dt.col-sm-3 Scholarships/Grant
  %dd.col-sm-9
    %dl.row
      %dt.col-sm-3 Name
      %dd.col-sm-9= @application.scholarship1
      %dt.col-sm-3 Amount Per Month
      %dd.col-sm-9= @application.scholarship1_per_month
  %dt.col-sm-3 Scholarships/Grant
  %dd.col-sm-9
    %dl.row
      %dt.col-sm-3 Name
      %dd.col-sm-9= @application.scholarship2
      %dt.col-sm-3 Amount Per Month
      %dd.col-sm-9= @application.scholarship2_per_month
  %dt.col-sm-3 Scholarships/Grant
  %dd.col-sm-9
    %dl.row
      %dt.col-sm-3 Name
      %dd.col-sm-9= @application.scholarship3
      %dt.col-sm-3 Amount Per Month
      %dd.col-sm-9= @application.scholarship3_per_month

%h3 Educational Expenses
%dl.row.mt-5
  %dt.col-sm-3 Tuiton per Semester
  %dd.col-sm-9= @application.tuition_cost
  %dt.col-sm-3 Books/Educational supplies
  %dd.col-sm-9= @application.supplies
  %dt.col-sm-3 Childcare related to education
  %dd.col-sm-9= @application.childcare
  %dt.col-sm-3 Transportation (gas, parking, bus fare)
  %dd.col-sm-9= @application.transportation
  %dt.col-sm-3 Other
  %dd.col-sm-9= @application.other

%h3 Non-Educational Expenses
%dl.row.mt-5
  %dt.col-sm-3 Estimated Monthly Expenses
  %dd.col-sm-9= @application.monthly_expenses
  %dt.col-sm-3 Total in Savings Account
  %dd.col-sm-9= @application.savings
  %dt.col-sm-3 Total in Investments
  %dd.col-sm-9= @application.investments
  %dt.col-sm-3 Current Educational Loan Debt
  %dd.col-sm-9= @application.school_loan_debt
  %dt.col-sm-3 Total Balance of Other Indebtedness
  %dd.col-sm-9= @application.other_debt

%h3 Essay Questions
- @application.answers.each do |answer|
  %dl.row.mt-5
    %dt.col-sm-3
      = answer.question.prompt
    %dd.col-sm-9
      = answer.body

%h3 Recommendation Letter
- if @application.recommendation_letter.attached?
  = link_to @application.recommendation_letter.filename, rails_blob_path(@application.recommendation_letter, disposition: 'attachment')
- else
  %p No recommendation letter has been provided.

%h3 Transcripts
- if @application.transcripts.attached?
  - @application.transcripts.each do |transcript|
    .row
      .col
        = link_to transcript.filename, rails_blob_path(transcript, disposition: 'attachment')
- else
  %p No academic transcripts have been provided.
