%h1 Administration

.float-right
  = link_to 'New Scholarship', new_admin_scholarship_path, class: 'btn btn-outline-primary'

%h2 Scholarships

%table.table.table-hover
  %thead
    %tr
      %th{scope: 'col'} Name
      %th{scope: 'col'} Status
      %th{scope: 'col'} Application Deadline
      %th{scope: 'col'} Number of Applications
      %th
  %tbody
    - @scholarships.each do |scholarship|
      %tr[scholarship]
        %th{scope: 'row'}
          = link_to scholarship, admin_scholarship_path(scholarship)
          .small.text-muted= pluralize(scholarship.questions.count, 'essay question')
        %td= scholarship.status
        %td= scholarship.application_deadline.to_s(:long)
        %td
          = link_to pluralize(scholarship.applications.submitted.count, 'application'), admin_scholarship_applications_path(scholarship)
          %p.small.text-muted #{scholarship.applications.incomplete.count} incomplete

        - if scholarship.published?
          %td
            .btn.btn-light.btn-sm.disabled Can Not Edit
          %td
            = link_to 'Delete', admin_scholarship_path(scholarship), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn text-danger btn-sm'

        - else
          %td
            = link_to 'Edit', edit_admin_scholarship_path(scholarship), class: 'btn btn-light btn-sm'
          %td
            = link_to 'Delete', admin_scholarship_path(scholarship), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn text-danger btn-sm'
