%h1 Administration

.row
  .col
    %h2= @scholarship
    %h3 Application Deadline: #{@scholarship.application_deadline.to_s(:long)}

    - if @scholarship.published?
      .col.text-right
        = link_to 'Preview', new_admin_scholarship_application_path(@scholarship), class: 'btn btn-outline-primary'
        = link_to 'Delete', admin_scholarship_path(@scholarship), class: 'btn btn-outline-danger', method: :delete, data: {confirm: 'Are you sure you want to delete this scholarship?' }

      %p.mt-3
        This scholarship is published and visible to applicants.
        = link_to 'hide', unpublish_admin_scholarship_path(@scholarship), method: :patch

    - else
      .col.text-right
        = link_to 'Edit', edit_admin_scholarship_path(@scholarship), class: 'btn btn-outline-primary'
        = link_to 'Preview', new_admin_scholarship_application_path(@scholarship), class: 'btn btn-outline-primary'
        = link_to 'Delete', admin_scholarship_path(@scholarship), class: 'btn btn-outline-danger', method: :delete, data: {confirm: 'Are you sure you want to delete this scholarship?' }

      %p.mt-3
        This scholarship is not visible to applicants.
        = link_to 'publish', publish_admin_scholarship_path(@scholarship), method: :patch

.row.mt-5.mb-1
  .col
    %h3 Questions
  .col.text-right
    = link_to 'Add New Question', new_admin_scholarship_question_path(@scholarship), class: 'btn btn-outline-primary'

%table.table.table-hover
  %thead
    %tr
      %th{scope: 'col'} Prompt
      %th
  %tbody
    - @scholarship.questions.each do |question|
      %tr[question]
        %th.font-weight-normal{scope: 'row'}= question
        %td
          = link_to 'Edit', edit_admin_scholarship_question_path(@scholarship, question), class: 'btn btn-light btn-sm mr-4'
          = link_to 'Delete', admin_scholarship_question_path(@scholarship, question), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn text-danger btn-sm'

%h3.mt-5 Applications
- if @scholarship.applications.submitted.empty?
  %h4.text-center There are no submitted applications yet.
- else
  %table.table.table-hover
    %thead
      %tr
        %th{scope: 'col'} Applicant
        %th{scope: 'col'} Status
        %th Last Updated
    %tbody
      - @scholarship.applications.submitted.order(:updated_at).each do |application|
        %tr
          %th.font-weight-normal{scope: 'row'}= link_to application.applicant, admin_scholarship_application_path(@scholarship, application)
          %td= application.submitted? ? 'Complete' : 'Incomplete'
          %td= application.updated_at.to_s(:long)
