%h1 Account Information

- if editable_by_user?(@user, current_user)
  = link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-outline-primary float-right'
%h2= @user

%dl.row
  %dt.col-sm-3 Email Address
  %dd.col-sm-9= @user.email
  %dt.col-sm-3 Status
  %dd.col-sm-9 An #{@user.status} user with the #{@user.role} role.
  %dt.col-sm-3 Activity
  %dd.col-sm-9 Signed in #{@user.sign_in_count} times since #{@user.created_at.localtime.to_formatted_s(:short)}.
  - if @user.current_sign_in_at
    %dt.col-sm-3 Last Sign In
    %dd.col-sm-9 #{@user.current_sign_in_at.localtime.to_formatted_s(:short)} from #{@user.current_sign_in_ip}.
