!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Chapter FL, Oregon P.E.O. Scholarship
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
  %body{class: "#{controller.controller_name} #{controller.action_name}"}
    %nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      = link_to root_url, class: 'navbar-brand' do
        = image_tag 'daisy_small.png'
        Chapter FL, Oregon P.E.O. Scholarship
      %button.navbar-toggler{type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbar', 'aria-controls': 'navbar', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation' }
        %span.navbar-toggler-icon
      #navbar.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          %li.nav-item= link_to 'About P.E.O.', 'https://peooregon.org', class: 'nav-link', target: 'new'
          - if user_signed_in? && current_user.admin?
            %li.nav-item= link_to 'Scholarships', admin_scholarships_path, class: 'nav-link'
            %li.nav-item= link_to 'Users', users_path, class: 'nav-link'
            %li.nav-item= link_to current_user, current_user, class: 'nav-link'
            %li.nav-item= sign_in_or_out_link
          - elsif user_signed_in? && current_user.member?
            %li.nav-item= link_to 'Scholarships', member_scholarships_path, class: 'nav-link'
            %li.nav-item= link_to current_user, current_user, class: 'nav-link'
            %li.nav-item= sign_in_or_out_link
          - elsif user_signed_in?
            %li.nav-item= link_to 'Scholarships', scholarships_path, class: 'nav-link'
            %li.nav-item= link_to current_user, current_user, class: 'nav-link'
            %li.nav-item= sign_in_or_out_link
          - else
            %li.nav-item= sign_in_or_out_link
            %li.nav-item= link_to 'Begin Application', scholarships_path, class: 'btn btn-primary'
    %main.container{role: 'main'}
      = render 'layouts/flashes'
      = yield
    %footer
      .container.text-muted
        %nav
          %ul
            %li= link_to 'Home', root_path
            %li= link_to 'About P.E.O.', 'https://peooregon.org'
        %span © 2020 Chapter FL, Oregon P.E.O. Sisterhood. All rights reserved.
